body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

#juegos-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

.tarjeta-juego {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 280px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tarjeta-juego img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.boton-jugar {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
}
.boton-jugar:hover {
    background-color: #0056b3;
}
