@font-face {
  font-family: 'Bloody';
  src: url('fonts/BLOODY.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: 'Bloody', cursive;
  background-color: #2b0033;
  color: #ba1839;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#menu, #end {
  text-align: center;
  margin-top: 5vh;
}

.title-main {
  font-size: 2.5rem;
}

.title-sub {
  font-size: 1.5rem;
}

button, select {
  background-color: #ba1839;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  font-family: 'Bloody';
  border-radius: 8px;
  font-size: 1rem;
}

#info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

#game-area {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background-color: #2b0033;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
  border: 3px solid #ba1839;
  margin: auto;
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2b0033;
}

.target {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px #ba1839;
}

.tuxedo {
  position: absolute;
  width: 60%;
  height: auto;
  top: 20%;
  left: 20%;
  z-index: 2;
  transition: opacity 0.3s ease;
}
.hidden {
  display: none;
}
